<div class="post-date-container">
  <span class="post-date-info">
    {% if site.data.settings.post_date_prefix %}
      {{ site.data.settings.post_date_prefix }} 
    {% endif %}
    {% assign d = page.date | date: "%-d" %}
    {{ page.date | date: "%B" }}
    {% case d %}
      {% when '1' or '21' or '31' %}{{ d }}st
      {% when '2' or '22' %}{{ d }}nd
      {% when '3' or '23' %}{{ d }}rd
      {% else %}{{ d }}th{% endcase %}, {{ page.date | date: "%Y" }}
    by
    {% if page.author %}
      {{ page.author }}
    {% else %}
      {{ site.author }}
    {% endif %}
  </span>
  <span class="post-copyright">© {{ site.author }}</span>
</div>