.site-header {
  --container-width: #{$container-width};
  min-height: 56px;
  height: 56px; /* 明确设置高度 */
  width: var(--container-width);
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  box-shadow: 0 5px 6px -6px #bbb;
  z-index: 100;
}
